<progress *ngIf="showProgressBar" max="100" value="{{progressBarValue}}"></progress>

<section class="my-portfolio">
  <ng-container *ngIf="!showProgressBar">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-11">
        <h2 class="my-title">{{title}}</h2>
        <h4 class="my-work">| FRONT-END DEVELOPER | UI/UX |</h4>
      </div>
    </div>

    <i *ngIf="portfolioSectionVisible" class="fa fa-chevron-circle-down chevron-down"></i>
  </ng-container>
</section>

<section class="about-and-skills">
  <div class="row m-0 about justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <h4 class="font-weight-bold">About Me</h4>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 image-section">
          <div class="image-card">
            <img src="../assets/siva_img.jpeg" alt="">
          </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 work-section">
          <p>Hello! My Name is Sivaramakrishnan. I am a Module Lead with 6+ years of experience in the field of web and
            mobile development. Have worked on multiple projects based on different domains to deliver the features
            within the timelines. Worked on R&D part for some of the features to increase the performance of the
            application. Implemented the Micro Frontend Architecture for the Angular application to increase the
            flexibilty of the application. Self motivated professional to bring innovation to the projects.
          </p>

          <div class="row social-icons">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 d-flex">
              <i class="fa fa-linkedin-square" title="LinkedIn"></i>
              <a class="word-break" href="https://www.linkedin.com/in/sivaramakrishnan-s-82a24010b/" target="_blank">
                https://www.linkedin.com/in/sivaramakrishnan-s-82a24010b/
              </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 d-flex">
              <i class="fa fa-github-square" title="GitHub"></i>
              <a class="word-break" href="https://www.linkedin.com/in/sivaramakrishnan-s-82a24010b/" target="_blank">
                https://github.com/srkkrish
              </a>
            </div>
          </div>

          <button type="button" class="btn btn-default download" (click)="downloadResume()">Download Resume</button>
        </div>
      </div>


    </div>
  </div>

  <div class="row m-0 skills justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <h4 class="font-weight-bold">Technical Skills</h4>

      <ng-container *ngFor="let skill of skillsData">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 font-weight-bold">
            {{skill.skill}}
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width': skill.value}">
                {{skill.value}}
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</section>

<section class="work-experience">
  <div class="row m-0 about justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <h4 class="font-weight-bold">Work Experience</h4>

      <div class="exp-details-container">
        <ng-container *ngFor="let work of workData">
          <div class="exp-card">
            <div class="d-flex justify-content-center align-items-center">
              <i class="{{work.icon}} company-icon"></i>
              <h4 class="company-name font-weight-bold">{{work.company}}</h4>
            </div>
            <h5 class="company-role font-weight-bold">{{work.role}}</h5>

            <div [innerHTML]="work.desc"></div>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</section>